### 데이터 병합
- concat

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A':[1, 2, 3],
                    'B':[4, 5, 6]})
df2 = pd.DataFrame({'A':[7, 8, 9],
                    'B':[10, 11, 12]})

In [3]:
display(df1)
display(df2)

   A  B
0  1  4
1  2  5
2  3  6

   A   B
0  7  10
1  8  11
2  9  12

In [4]:
pd.concat([df1, df2],axis = 0)  # 인덱스가 그대로 붙어서 불연속적임

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [5]:
pd.concat([df1, df2],axis = 1)  # 컬럼으로 결합

   A  B  A   B
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [6]:
## 인덱스를 재정렬할 경우
pd.concat([df1, df2], axis = 0, ignore_index = True)  # ignore_index 매개변수를 이용하여 기존의 데이터프레임의 index를 무시함

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

### 데이터의 차원이 다른경우

In [7]:
df1 = pd.DataFrame({'A':[1, 2, 3],
                    'B':[4, 5, 6]})
df2 = pd.DataFrame({'A':[7, 8],
                    'B':[10, 11]})

In [8]:
display(df1)
display(df2)

   A  B
0  1  4
1  2  5
2  3  6

   A   B
0  7  10
1  8  11

In [9]:
pd.concat([df1, df2], axis = 1) # concat에서는 결측치가 발생할 수 있음

   A  B    A     B
0  1  4  7.0  10.0
1  2  5  8.0  11.0
2  3  6  NaN   NaN

- merge

In [10]:
df1 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8]})
df2 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'C':[10, 11, 12, 13]})

In [11]:
display(df1)
display(df2)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

   A   C
0  1  10
1  2  11
2  3  12
3  4  13

#### on 인자

In [12]:
pd.merge(df1, df2, on = 'A')

   A  B   C
0  1  5  10
1  2  6  11
2  3  7  12
3  4  8  13

In [13]:
pd.merge(df1, df2, on = 'B') # on 에 입력된 컬럼은 병합할 두 데이터프레임의 컬럼에 공통적으로 가지고 있어야 함

KeyError: ignored

##### 두 개 이상의 컬럼을 조인 키로 사용

In [14]:
df1 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8],
                    'D':[0, 0, 0, 3]})
df2 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8],
                    'E':[1, 1, 1, 0]})

In [15]:
pd.merge(df1, df2, on = ['A', 'B']) # 컬럼 A가 같고 컬럼 B가 같은 행만 병합

   A  B  D  E
0  1  5  0  1
1  2  6  0  1
2  3  7  0  1
3  4  8  3  0

##### 공통 컬럼의 value가 다른 경우

In [16]:
df1 = pd.DataFrame({'A':[1, 2, 30, 40],
                    'B':[5, 6, 7, 8],
                    'D':[0, 0, 0, 3]})
df2 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8],
                    'E':[1, 1, 1, 0]})

In [17]:
display(df1) 
display(df2)

    A  B  D
0   1  5  0
1   2  6  0
2  30  7  0
3  40  8  3

   A  B  E
0  1  5  1
1  2  6  1
2  3  7  1
3  4  8  0

In [18]:
pd.merge(df1, df2, on = ['A', 'B']) # 컬럼의 값도 동일해야지만 가져올 수 있다.

   A  B  D  E
0  1  5  0  1
1  2  6  0  1

In [19]:
df1 = pd.DataFrame({'A':[5, 2, 3, 4],
                    'B':[1, 6, 7, 8],
                    'D':[0, 0, 0, 3]})
df2 = pd.DataFrame({'A':[1, 2, 30, 40],
                    'B':[5, 6, 7, 8],
                    'E':[1, 1, 1, 0]})

In [20]:
display(df1)
display(df2)

   A  B  D
0  5  1  0
1  2  6  0
2  3  7  0
3  4  8  3

    A  B  E
0   1  5  1
1   2  6  1
2  30  7  1
3  40  8  0

In [21]:
pd.merge(df1, df2, on = ['A', 'B']) # A에서 같은 거 고른 후, B에서도 같은지 확인 후 출력

   A  B  D  E
0  2  6  0  1

#### left_on, right_on

In [22]:
df1 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8],
                    'D':[0, 0, 0, 3]})
df2 = pd.DataFrame({'a':[1, 2, 3, 4],
                    'B':[5, 6, 7, 8],
                    'E':[1, 1, 1, 0]})

In [23]:
display(df1)
display(df2)

   A  B  D
0  1  5  0
1  2  6  0
2  3  7  0
3  4  8  3

   a  B  E
0  1  5  1
1  2  6  1
2  3  7  1
3  4  8  0

In [24]:
pd.merge(df1, df2, left_on = 'A', right_on = 'a')  # B_x와 B_y로 나오는 것은 중복이라는 뜻
                                                   # A와 a는 컬럼명이 다르므로 각각 따로 출력

   A  B_x  D  a  B_y  E
0  1    5  0  1    5  1
1  2    6  0  2    6  1
2  3    7  0  3    7  1
3  4    8  3  4    8  0

In [25]:
pd.merge(df1, df2, left_on = ['A', 'B'], right_on = ['a', 'B']) # B를 추가해서 중복 제거

   A  B  D  a  E
0  1  5  0  1  1
1  2  6  0  2  1
2  3  7  0  3  1
3  4  8  3  4  0

### left_index, right_index
- 인덱스를 조인키로 사용하는 경우

In [26]:
df1 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'D':[0, 0, 0, 3]})
df2 = pd.DataFrame({'A':[1, 2, 3, 4],
                    'E':[1, 1, 1, 0]})

In [27]:
display(df1)
display(df2)

   A  D
0  1  0
1  2  0
2  3  0
3  4  3

   A  E
0  1  1
1  2  1
2  3  1
3  4  0

In [28]:
df1.set_index('A', inplace = True)

In [29]:
pd.merge(df1, df2, left_index = True, right_on = 'A') # 왼쪽 데이터프레임에서는 인덱스를, 오른쪽 데이터프레임에서는 컬럼A를 조인키로 사용

   D  A  E
0  0  1  1
1  0  2  1
2  0  3  1
3  3  4  0

In [30]:
pd.merge(df1, df2, left_index = False, right_on = 'A') # 왼쪽 데이터프레임에서 조인키를 지정하지 않음

MergeError: ignored

In [31]:
display(df1)
display(df2)

   D
A
1  0
2  0
3  0
4  3

   A  E
0  1  1
1  2  1
2  3  1
3  4  0

In [32]:
pd.merge(df1, df2, left_index = True, right_on = 'E') # 왼쪽 데이터프레임은 조인키로 인덱스를, 오른쪽 데이터프레임에서 조인키로 E를 사용했는데 
                                                      # 왼쪽 데이터프레임의 조인키와 오른쪽 데이터프레임의 조인키 중 같은 것이 1이므로 E가 1인 것만 남음

   D  A  E
0  0  1  1
1  0  2  1
2  0  3  1

### How

In [34]:
pd.merge(df1, df2, on = 'A', how = 'inner') # 교집합 개념

   A  D  E
0  1  0  1
1  2  0  1
2  4  3  0

In [35]:
pd.merge(df1, df2, on = 'A') # default는 inner

   A  D  E
0  1  0  1
1  2  0  1
2  4  3  0

In [36]:
pd.merge(df1, df2, on = 'A', how = 'left') # 왼쪽 데이터프레임을 기준으로 병합하므로 오른쪽 데이터프레임에 없는 값은 결측치가 됨

   A  D    E
0  1  0  1.0
1  2  0  1.0
2  3  0  NaN
3  4  3  0.0

In [37]:
pd.merge(df1, df2, on = 'A', how = 'right') # 오른쪽 데이터프레임을 기준으로 병합하므로 왼쪽 데이터프레임에 없는 값은 결측치가 됨

   A    D  E
0  1  0.0  1
1  2  0.0  1
2  7  NaN  1
3  4  3.0  0

In [38]:
pd.merge(df1, df2, on = 'A', how = 'outer') # 두 데이터프레임에 있는 모든 값을 병합하므로 양쪽 데이터프레임에 없는 값은 모두 결측치가 됨

   A    D    E
0  1  0.0  1.0
1  2  0.0  1.0
2  3  0.0  NaN
3  4  3.0  0.0
4  7  NaN  1.0